body{
  font-family: 'Merriweather', serif;
  font-family: 'Inter', sans-serif;
}
/*banner section */
.banner-section{
  background-image: url("resource/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px 140px 120px ;
  text-align: cente;
  padding: 160px;
  border-radius: 16px;
  background-position: bottom center;
}
.banner-title{
  color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
}
.banner-description{
  color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 95px;
}
/*65%-off-section*/
.discount{
  color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-weight: 700; 
}
.discount-description{
  color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-weight: 500; 
}
.category{
  color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 700; 
}
.img{
  margin: 0px 399px 20px ;
}
